[user]
        name = Seyar Chapuh
        email = seyar@yandex-team.ru
[core]

        excludesfile = /Users/seyar/.gitignore_global

[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[color]
   diff = auto
   status = auto
   branch = auto
[color "branch"]
   current = green reverse ;текущий бранч имеет зеленый фон
   local = green ;все локальные бранчи - зеленые
   remote = red ;все удаленные бранчи - красные
[color "diff"]
   meta = yellow bold
   frag = magenta bold
   old = red bold
   new = green bold
   whitespace = red reverse
[color "status"]
   untracked = cyan
[push]
        default = tracking
[credential]
        helper = cache --timeout=3600
