"*":
  core:
    automaticallyUpdate: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "bookmarks"
      "language-clojure"
      "language-coffee-script"
      "language-c"
      "language-csharp"
      "language-go"
      "language-java"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sql"
      "atom-keyboard-macros"
      "motepair"
      "archive-view"
      "language-toml"
      "open-on-github"
      "tree-view"
    ]
    projectHome: "/Users/seyar/work"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Input Sans"
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "a6b129f3-a646-a19e-d3a2-6812ddf579e7"
  motepair: {}
  nuclide:
    "nuclide-working-sets":
      workingSets: [
        {
          name: "gryadka"
          active: true
          uris: [
            "/Users/seyar/work/gryadka"
          ]
        }
      ]
  welcome:
    showOnStartup: false
